.complex {
  width: 100%;
  height: 100%;
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.complex-block {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 80px 0;
}

.complex-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.complex-text h1 {
  font-size: 45px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
  color: gold;
}
.complex-text p {
  font-size: 20px;
  color: grey;
  font-weight: 300;
  margin: 0;
  text-align: center;
}
.complex-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.complex-card {
  width: 27%;
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  margin: 10px 0;
  border: 3px solid rgb(72, 72, 72);
  border-radius: 20px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.hit {
  transition: all 0.3s ease-in-out;
  background-color: #000000;
  border: 3px solid gold;
}

.complex-card h3 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 10px;
  color: white;
}
.complex-card h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  color: gold;
}
.complex-card p {
  font-size: 15px;
  color: grey;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.complex-card-details ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 0px;
  margin: 0px;
}
.complex-card-detail {
  font-size: 18px;
  padding: 2px 0;
  color: white;
  font-weight: 200;
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 0px;
  letter-spacing: 1px;
  line-height: 30px;
}
.complex-card-detail::before {
  content: "";
  font-weight: bold;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: gold;
  color: #161616;
  align-items: center;
  margin-right: 10px;
  font-size: 10px;
  border-radius: 50%;
}

.complex-card-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.complex-card-button button {
  width: 300px;
  height: 40px;
  background-color: gold;
  color: #161616;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 20px 0;
}
.complex-card-button button:hover {
  transform: scale(1.1);
}

.complex-card:hover > .complex-card-button button {
  background-color: #242424;
  color: gold;
}
.complex-card:hover {
  border: 3px solid gold;
}

@media screen and (max-width: 1250px) {
  .complex-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .complex-card {
    width: 90%;
    max-width: 500px;
  }
  .complex-card-button button {
    width: 90%;
  }
  .complex-text {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .complex-block {
    width: 95%;
    margin: 50px 0;
  }
  .complex-text h1 {
    font-size: 30px;
  }
  .complex-text p {
    font-size: 15px;
  }
  .complex-card {
    width: 95%;
    min-height: auto;
    padding: 15px;
  }
  .complex-card-button button {
    width: 90%;
  }
}
