.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
  animation: spin 1s linear infinite;
  stroke: gold;
  fill: none;
}

.loading-text {
  font-size: 1.55rem;
  line-height: 1rem;
  font-weight: 300;
  margin-top: 20px;
  color: gold;
  text-align: center;
  line-height: 30px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
