.main {
  width: 100%;
  height: 100vh;
  background-color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-bg {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("../../assets/bg.png") center/cover no-repeat;
}
.main-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 70%;
  z-index: 10;
}

.main-big-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  line-height: 100px;
}

.main-big-text h1 {
  font-size: 100px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin: 0;
  letter-spacing: 3px;
}
.main-big-text h1:last-child {
  color: gold;
}
.main-lil-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  width: 90%;
  gap: 0px;
}
.main-lil-text h3 {
  font-size: 25px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
.main-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-buttons button:first-child {
  width: 250px;
  height: 50px;
  background-color: gold;
  color: #161616;
  font-size: 20px;
  font-weight: 300;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main-buttons button:last-child {
  width: 250px;
  height: 50px;
  background-color: black;
  color: gold;
  font-size: 20px;
  font-weight: 300;
  border: none;
  border-radius: 10px;
  border: 3px solid gold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main-buttons button:hover {
  transform: scale(1.1);
}

.main-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.main-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
}
.main-icon i {
  font-size: 30px;
  color: gold;
}

.main-mouse {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: mouse 3s infinite;
}

@keyframes mouse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .main-block {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .main-block {
    width: 90%;
  }
  .main-big-text {
    line-height: 60px;
  }
  .main-big-text h1 {
    font-size: 60px;
  }
  .main-lil-text h3 {
    font-size: 20px;
  }
  .main-icons {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .main-block {
    width: 90%;
  }
  .main-big-text {
    line-height: 60px;
  }
  .main-big-text h1 {
    font-size: 50px;
  }
  .main-big-text h1:first-child {
    font-size: 25px;
  }
  .main-lil-text h3 {
    font-size: 20px;
  }
  .main-buttons {
    flex-direction: column;
  }
  .main-mouse {
    display: none;
  }
}
