.how-it-work {
  width: 100%;
  height: 100%;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.how-it-work-block {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 80px 0;
}
.how-it-work-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.how-it-work-text h1 {
  font-size: 45px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}
.how-it-work-text p {
  font-size: 15px;
  color: grey;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.how-it-work-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.how-it-work-card {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 40px 0;
  text-align: center;
  z-index: 1;
  box-sizing: border-box;
  padding: 20px 0;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.how-it-work-card-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.how-it-work-card-circle h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 0;
  color: black;
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  .how-it-work-block {
    width: 90%;
  }
  .how-it-work-card {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .how-it-work-block {
    width: 95%;
    margin: 50px 0;
  }
  .how-it-work-text h1 {
    font-size: 35px;
  }
  .how-it-work-text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .how-it-work-block {
    width: 95%;
  }
  .how-it-work-card {
    width: 90%;
    margin: 10px 0;
  }
  .how-it-work-text h1 {
    font-size: 30px;
  }
}

.how-it-work-card h3 {
  font-size: 25px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #fff;
}
.how-it-work-card p {
  font-size: 15px;
  color: grey;
  font-weight: 300;
  margin: 0;
  text-align: center;
}
