.why-choose {
  width: 100%;
  height: 100%;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.why-choose-block {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 80px 0;
}

.why-choose-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.why-choose-text h1 {
  font-size: 45px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 10px;
}
.why-choose-text p {
  font-size: 20px;
  color: grey;
  font-weight: 300;
}

.why-choose-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.why-choose-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}
.why-choose-card-icon {
  width: 65px;
  height: 65px;
  border-radius: 15px;
  display: flex;
  background-color: gold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.why-choose-card:hover > .why-choose-card-icon {
  box-shadow: 0px 0px 15px 0px gold;
  transform: scale(1.05);
}
@media (prefers-reduced-motion: reduce) {
  .why-choose-card-icon {
    transition: none;
  }
  .why-choose-card:hover > .why-choose-card-icon {
    transform: none;
  }
}

.why-choose-card h3 {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}
.why-choose-card p {
  font-size: 14px;
  color: grey;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .why-choose-block {
    width: 90%;
  }
  .why-choose-card {
    width: 45%;
    margin: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .why-choose-block {
    width: 95%;
    margin: 50px 0;
  }
  .why-choose-text h1 {
    font-size: 35px;
  }
  .why-choose-text p {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .why-choose-card {
    width: 90%;
    margin: 20px 0;
  }
  .why-choose-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .why-choose-text h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .why-choose-text p {
    font-size: 15px;
    color: grey;
    font-weight: 300;
    text-align: center;
  }
  .why-choose-block {
    width: 100%;
  }
}
